# Auto detect text files and perform LF normalization
* text=auto

# Explicitly specify LF for YAML and other configuration files

*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.jl text eol=lf

# Binary files - unchanged

*.pdf binary
*.png binary
*.jpg binary